<p><%= @result %></p>
<table border="1">
  <% i=1 %>
  <% if @input_is_ok %>
    <% @correct.each do |row| %>
      <tr>
        <th><%= i %></th>
        <% i += 1 %>
        <th><%= row %></th>
      </tr>
    <% end %>
  <% end %>
</table>
</p>
